@charset "utf-8";

/* 
원래 03_레이아웃.css 파일 지우고 같은이름으로 해야하는대 나는 남겨두고 따로 하려고... 새로 만듬 
*/
/*  16진수: #RRGGBB, #RGB  */
/* Shift + Alt + F : 정리 */
/* Shift + Alt + 아래방향키 : 복사 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: #ff9900;
    height: 100px;
}

.section {}

.s1 {
    background: #ff6435;
    height: 300px;
}

.s2 {
    background: #9a5cff;
    height: 200px;
}

.footer {
    background: #5776ff;
    height: 100px;
}