@charset "utf-8";

/* 
    여백
    margin: 값1; -> 상하좌우 모두 값1
    margin: 값1 값2; -> 상하는 값1 , 좌우는 값2
    margin: 0 auto; 
    margin: 값1 값2 값3; -> 상은 값1, 좌우 값2, 하는 값3
    margin: 값1 값2 값3 값4; -> 상, 우, 하, 좌 (시계방향으로)

    예시
    margin: 10px; -> 상하좌우 모두 10px
    margin: 10px 20px; -> 상하: 10px , 좌우: 20px
    margin: 10px 20px 30px; -> 상: 10px, 좌우: 20px, 하: 30px
    margin: 10px 20px 30px 40px; -> 상: 10px, 우: 20px, 하: 30px, 좌: 40px (시계방향으로)
    padding

    패딩 (속기형)
    padding: 상하좌우;
    padding: 상하 좌우;
    padding: 상 좌우 하;
    padding: 상 우 하 좌;

    여백 (속기형)
    margine: 상하좌우;
    margine: 상하 좌우;
    margine: 상 좌우 하;
    margine: 상 우 하 좌;


    margin-top : 상
    margin-right : 우;
    margin-bottom : 하;
    margin-left : 좌;

    padding-top : 상
    padding-right : 우
    padding-bottom : 하
    padding-left : 좌
*/

body {
    /* 0만 숫자중 유일하게 단위 생략을 할 수 있다. */
    margin: 0;
}

.wrap {
    display: flex;
    width: 1140px;
    margin: auto;
}

.wrap div{
    width: 340px;
    height: 620px;
    /* 8의 배수 : 8, 16, 24, 32, 40, 48 */
    background: yellow;
}

/* .box1{
    margin: 0 20px 0 0;
}
.box2{
    margin: 0 20px;
}
.box3{
    margin: 0 0 0 20px;
} */

.box1{
    margin-right: 20px; 
}
.box2{
    margin-right: 20px; margin-left: 20px;
}
.box3{
    margin-left: 20px;
}