@charset "utf-8";

div {
    width: 100px;
    height: 100px;
    /* background: plum; */
    margin: 20px;
    border: 1px solid deeppink;
}

/* 전체 테두리 20px 둥글게 (속기형) */
div:nth-of-type(1) {
    border-radius: 20px;
}

/* 전체 테두리 20px 둥글게 (일반형) */
div:nth-of-type(2) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

div:nth-of-type(3) {
    /* 값2개는 왼위 시작 대각선, 대각선으로
    값1: LT(왼쪽위)와 RB(오른쪽아래)가 10px 
    값2: RT(오른쪽위)와 LB(왼쪽아래)가 20px
    */
    border-radius: 10px 20px;
}

div:nth-of-type(4) {
    /* 
    값3개짜리는 왼위부터 시작해서 퍼지듯이
    값1: LT(왼쪽 위) -> 10px 
    값2: RT(오른쪽위)와 LB(왼쪽아래)가 20px
    값3: RB(오른쪽 아래) -> 30px
    */
    border-radius: 10px 20px 30px;
}

div:nth-of-type(5) {
    /* 
    값4개는 시계방향
    값1: LT(왼쪽 위) -> 10px 
    값2: RT(오른쪽위) -> 20px
    값3: RB(오른쪽 아래) -> 30px
    값4: LB(왼쪽 아래) -> 40px
    */
    border-radius: 10px 20px 30px 40px;
}

div:nth-of-type(6) {
    /* border-radius: 50px; */
    border-radius: 50%;
    /* 부모 크기의 50% */
}

div:nth-of-type(7) {
    /* border-radius: 75px; */
    width: 75px;
    border-radius: 50% 0 0 50%;
}

div:nth-of-type(8) {
    /* border-radius: 75px; */
    width: 75px;
    height: 75px;
    border-radius: 75px 0 0 0;
}