@charset "utf-8";

/* 선택자 {속성:값;} */
/* 
            가상(슈도) 클래스 선택자
            a:link -> 방문전
            a:visited -> 방문후
            선택자:hover -> 올렸을 때
            선택자:active -> 눌렀을 때
        */

/* a요소를 방문전(클릭하기전) 글자색 색상이 #ff0000이다. */
/* a:link {color: #ff0000;} */
/* a요소를 방문 했다는(방문후/클릭후) 색상이 #ffc400이다. */
/* a:visited {color: #ffc400;} */
/* a요소에 마우스를 올리면 색이 #fff000이다. */
/* a:hover {color: #fff000;} */
/* a요소에 마우스를 꾹 누르고 있을때 #00ff80이다. */
/* a:active { color: #00ff80} */
/* 
        그리고 이 위 4개 가상클래스 선택자를 다 쓰려면 위 순서대로 해야한다.
        1.link 2.visited 3.hover 4.active 틀리면 난리남
         */