@charset "utf-8";
        /* 
        자식선택자:nth-of-type() -> type(태그, 요소)를 구분
        자식선택자:nth-child(n) -> type(태그, 요소)를 구분X
        */
        /* 
        :first-of-type 는 첫번째 만 지정
        :last-of-type 는 무조건 마지막부분에 지정
        :nth-of-type() -> type(태그, 요소)를 구분 / nth-of-type(1)와 first-of-type는 서로 같다(첫번째 라는 의미)
        :nth-child(n) -> type(태그, 요소)를 구분X 

        그 외 :nth-last-of-type(n) 같은 것도 있는대 이건 역순으로 세는 것
        그래서
        last-type 와 nth-last-of-type(1)은 같은게 된다.
        */
        /* 첫번째 자식요소 p에게 모두 적용. */
        div:nth-of-type(3) {
            color: red;
        } 
        p:nth-child(6) {
            color: blue;
        }
        p:nth-child(4) {
            color: yellow;
        }
        h1:first-of-type {
            color: orange;
        }
        p:last-child {
            color: aqua;
        }
        p:nth-of-type(2n) {
            background: salmon;
        }