@charset "utf-8";


/* 공통 */
.icon strong {
    background: rgb(190, 214, 0);
    background: linear-gradient(90deg, rgba(190, 214, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

body {
    background: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 130px;
}

hr {
    margin: 0;
    border: 1px dashed #192547;
}

.imp {
    margin-top: 20px;
}

/* //공통// */

/* booking_font */

.mn {
    font-weight: 500;
}

.bk1 a {
    font-size: 1em;
}

.imp {
    font-size: 1.2rem;
    color: #ababab;
}

.a1 {
    color: #fff;
}

a {
    font-size: 1.2rem;
    color: #192547;
}

ul {
    font-size: 1.4rem;
}

.us>li p,
.faq>ul p {
    font-size: 1.6em;
}

.faq a {
    font-size: 1.4rem;
}

.faq a:hover {
    text-decoration: underline;
}


/* //booking_font// */

/* seciton_title */

.sub_title {
    display: flex;
    flex-direction: column;
    border-radius: 18px 18px 0 0;
}

h1 {
    background: #fff;
    line-height: 120px;
    padding: 0 40px 0 40px;
    margin: 0;
}

.bk1 {
    display: flex;
    flex-direction: row;
}

.bk1 a {
    width: 600px;
    line-height: 55px;
    text-align: center;
    background: #fff;
    border-radius: 0 0 18px 18px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.bk1 .a1 {
    background: #192547;
}

/* //seciton_title// */

/* section */

.bk2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1120px;
}

.box_title {
    margin: 0;
    padding: 60px 0;
}



.box {
    display: flex;
    flex-direction: row;
    margin: 60px 0 0;
}

.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 230px;
}

img {
    margin: 0 60px 20px 60px;
}

.text_box {
    display: flex;
    width: 890px;
    flex-direction: column;
}

.text_box li {
    margin-bottom: 10px;
}

.text_box strong {
    margin-bottom: 20px;
}

.text_box h2 {
    margin-bottom: 15px;
}

ul {
    margin: 0 0 40px;
}

li {
    margin: 0 0 0 20px;
    list-style: url(../../03.assets/booking/li_list_img.png);
}

.imp {
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 20px;
    list-style: none;
}



.E {
    height: 190px;
    margin: 30px 0;
}

.E li {
    margin: 10px 20px;
}

.ab a::after {
    content: url(../../03.assets/booking/버튼.png);
    margin-left: 4px;
}

.ab>a {
    padding: 8px 8px 5px;
    border: 1px solid #bed600;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}

.ab a:hover {
    background: #192547;
    color: #fff;
}


.abc>a {
    padding: 8px 8px 5px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    background: #bed600;
}

.abc a:hover {
    background: #192547;
    color: #fff;
}



.air_1,
.air_2 {
    list-style: none;
    margin-left: 80px;
}

.air_1 {
    list-style: url(../../03.assets/booking/gs.png);
    margin-bottom: 15px;
}

.air_2 {
    list-style: url(../../03.assets/booking/gs2.png);
}


/* //section// */

/* 유의사항 box */

.us {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 18px;
    background: #f4f4f4;
    padding: 0 30px;
}

.us li {
    list-style: none;
    transition: 1s;
}

.sub_us1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}

.sub_us1>button {
    border: none;
    background: #f4f4f4;
}

.sub_us2 li,
.sub_us3 li {
    list-style: disc;
    margin: 0;
    margin: 10px 0 10px 0;
}

.sub_us2,
.sub_us3 {
    position: absolute;
    overflow: hidden;
    background: #f4f4f4;
    opacity: 0;
    height: 0;
    margin: 0;
    top: 60px;
    left: 0;
    right: 0;
    border-radius: 0 0 18px 18px;
    padding: 10px 50px;
}

.us:hover .sub_us1>button {
    background: #f4f4f4;
}

.us:hover .sub_us2 {
    overflow: visible;
    height: 150px;
    opacity: 1;
    background: #f4f4ff;
}

.us:hover .sub_us3 {
    overflow: visible;
    height: 220px;
    opacity: 1;
    background: #f4f4f4;
}

/* //유의사항 box// */

/* FAQbox */

.faq {
    border-radius: 18px;
    background: #f4f4f4;
    padding: 30px;
}

.faq ul {
    list-style: none;
    margin: 0;
    width: 860px;
}

.faq p {
    margin: 0;
}

.faq li {
    list-style: none;
    margin: 10px 0 0 0;
}