@charset "utf-8";

@import url(reset.css);
@import url(typo.css);

.banner {
    display: flex;
    justify-content: center;
}

.banner a {
    display: flex;
    flex-direction: row;
}

div {
    width: 100px;
    height: 100px;
    background: #ccc;
}