@charset "utf-8";

/* style-guide */
:root {
    --bg: #fff;
    --tx: #333;
}

/* 확인용 line */

/* reset */
body,
h2,
h3,
p,
ul {
    margin: 0;
}

ul,
li {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--tx);
}

/* typo */
body {
    color: var(--tx);
}

a {
    line-height: 2;
}

/* 공통 */
body {
    background: var(--bg);
}

div#wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div#container {
    display: flex;
}

div.logo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.logo h2 {
    width: 200px;
    height: 120px;
    line-height: 120px;
}

/* A영역 - header */
header {
    width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

/* nav */
nav {
    width: 180px;
    margin: 24px auto 24px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main_menu {
    position: relative;
    transition: .3s;
}

.main_menu a {
    display: block;
}

.main_menu a:hover {
    background: #ccc;
}

.main_menu:hover {
    height: 200px;
}

.sub_menu {
    width: 100%;
    position: absolute;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border: 1px solid #474747;
}

.sub_menu li {
    text-align: center;
    line-height: 2;
}

.main_menu:hover .sub_menu {
    height: 130px;
    opacity: 1;
    visibility: visible;
}

#spot_menu {
    margin: 0 auto;
}

#spot_menu>ul {
    display: flex;
}

#spot_menu li:not(:last-child) {
    margin-right: 16px;
}

/* B영역 - slide  */
#slide {
    width: calc(100% - 600px);
    height: calc(100vh - 120px);
    border-left: 1px solid #ccc;
    overflow: hidden;
}

#slide ul {
    position: relative;
    width: 400%;
    height: 100%;
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        left: 0%;
    }

    10% {
        left: -100%;
    }

    33% {
        left: -100%;
    }

    43% {
        left: -200%;
    }

    66% {
        left: -200%;
    }

    76% {
        left: -300%;
    }

    76% {
        left: -300%;
    }

    99.99% {
        left: -300%;
    }

    99.99% {
        left: 0%;
    }
}

#slide>ul>li {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slide>ul>li:nth-child(1) {
    background: red;
}

#slide>ul>li:nth-child(2) {
    background: orange;
}

#slide>ul>li:nth-child(3) {
    background: yellow;
}

#slide>ul>li:nth-child(1) {
    background: red;
}

/* C영역 - board */
#board {
    width: 400px;
}

/* banner */
#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding: 0 24px;
    border-bottom: 1px dotted #ccc;
}

#banner .img:first-of-type {
    width: 80px;
    height: 40px;
    background: #373737;
    border-radius: 5px;
}

#banner .img:last-of-type {
    width: 30px;
    height: 40px;
    background: #373737;
}

#banner .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    padding: 0 16px 0 16px;
}

/* D영역 - footer */
footer {
    display: flex;
    height: 120px;
}

#ft-box {
    padding: 0 24px;
}

#ft-menu {
    display: flex;
}

#ft-menu li {
    margin-right: 24px;
}

#ft-menu li::after:not(:last-of-type) {
    content: "|";
    margin-left: 16px;
}

#ft-box2 {
    height: 82px;
    display: flex;
    align-items: center;
}

#ft-box2 p {
    line-height: 1.5;
}