@charset "utf-8";

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 30px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

body {
    background-color: #fff;
}

/* section1 */
section {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1496px;
    height: 745px;
    background: #005813;
}

.img {
    display: flex;
    justify-content: center;
}

.gr {
    position: relative;
    height: 10px;
    background: rgb(190, 214, 0);
    background: linear-gradient(90deg, rgba(190, 214, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

/* letter-spacing = 글자간격 "자간" */

h2 {
    position: absolute;
    letter-spacing: 4px;
    font-weight: 400;
    transform: translate(-50%, -50%);
}

b {
    padding: 8px 16px;
    margin-right: 16px;
    color: #fff;
    background: rgba(190, 214, 0, .5);
}

/* section2 */
section {
    width: 1496px;
    margin: 0 auto;
    padding-bottom: 80px;
}

h2 {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 24px;
    margin: 72px 0 48px 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    position: relative;
    width: 362px;
    margin: 0 16px 16px 0;
}

h3 {
    position: absolute;
    background: #bed600;
    padding: 8px 24px;
}

li:nth-of-type(4n) {
    margin-right: 0;
}

div {
    height: 240px;
    background: #008f40;
}

/* section3 */
/* section4 */