@charset "utf-8";

/* font 연결 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
img,
video {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* typo */
html {
    font-size: 10px;
}

body {
    font: 300 1.5rem/1.6 "Noto Sans KR", Arial, sans-serif;
}

h2,
h3 {
    font-weight: 300;
}

h4 {
    letter-spacing: 10px;
}

/* commen */
#s1 {
    height: 100vh;
    background: #ccc;
}
.progress {
    height: 30px;
    font-size: 1.5rem;
}

.progress-bar {
    background: #000;
}

.progress:nth-of-type(1) .progress-bar {
    width: 90%;
}

.progress:nth-of-type(2) .progress-bar {
    width: 90%;
}

.progress:nth-of-type(3) .progress-bar {
    width: 90%;
}

.progress:nth-of-type(4) .progress-bar {
    width: 70%;
}

.progress:nth-of-type(5) .progress-bar {
    width: 70%;
}

.progress:nth-of-type(6) .progress-bar {
    width: 50%;
}

footer {
    height: 300px;
}