@charset "utf-8";

/* font 연결 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
img,
video {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* typo */
html {
    font-size: 10px;
}

body {
    font: 300 1.5rem/1.6 "Noto Sans KR", Arial, sans-serif;
}

h2,
h3 {
    font-weight: 300;
}

/* 공통 */