@charset "utf-8";

@import url(style_guide.css);

footer {
    border: 1px solid red;
    padding: 0 24px;
}

.ft_logo {
    margin: 32px 0 24px;
    width: 118px;
    height: 23px;
}

.ft_logo img {
    width: 100%;
    height: 100%;
}

.ft_menu1 {
    display: flex;
}
.ft_menu1 li:first-of-type {
    color: var(--point);
}

@media (min-width:576px) {
    /* 테블릿 */

}

@media (min-width:992px) {

    /* 데스크탑 */

    /* 헤더 */
    header {}

    /* 푸터 */
    #ft_main1 {
        width: 1460px;
        margin: 0 auto;
    }

    .ft_logo {
        margin: 30px 0;
    }

    .ft_bx2 {
        display: flex;
    }

    .ft_bx2 p:first-of-type {
        width: 215px;
    }

    footer hr {
        width: 381px;
        border: 1px solid var(--main1);
        margin: 0;
    }


}