@charset "utf-8";

/* 임시 스타일 가이드 불러오기 */
:root {
    /* main-color */
    --main1: #876E66;
    --main2: #E5D9B7;

    /* sub-color */
    --sub1: #796150;
    --sub2: #101010;

    /* point-color */
    --point: #EC2931;

    /* page-bg-color */
    --bg: #FAF9F5;

    /* season-color */
    --season1: #ECFBBA;
    --season2: #46A338;
    --season3: #79B52B;

    /* sub + text color */
    --white: #fff;

    /* text-color */
    --text1: #2d2d2d;
    --text2: #666;
    --text3: #8b8b8b;

    /* 추가 color */
    /* ea */
    --ea: #eaeaea;

}

header {
    width: 100%;
    height: 40px;
    position: fixed;
    /* top 추가하는 이유는 안넣으면 스샷 찍을때 헤더가 중간으로 내려옴 */
    z-index: 9990;
    top: 0;
    display: flex;
    align-items: center;
    background: var(--white);
    border-bottom: 1px solid var(--main2);
}

#hd1 {
    padding: 0 16px;
}

header.mb.tb>div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.mb.tb div.logo {
    display: flex;
    align-items: center;
    width: 35px;
}

header.mb.tb .x_logo hr {
    margin: 0;
    width: 18px;
    border: 2px solid var(--main1);
}

header.mb.tb .x_logo hr:not(:last-of-type) {
    margin-bottom: 5px;
}

header.mb.tb div.icon {
    display: flex;
    align-items: center;
}

header.mb.tb div.icon>div:not(:first-of-type) {
    margin-left: 16px;
}

header.mb.tb .serch>div {
    position: relative;
    width: 18px;
}

header.mb.tb .serch input {
    position: absolute;
    height: 35px;
    padding: 8px;
    top: -40px;
    right: 0;
    transition: .3s;
}

header.mb.tb input.active {
    position: absolute;
    top: 40px;
}

header.mb.tb .my_page {
    width: 24px;
}

#x_logo {
    position: fixed;
    right: 87px;
    z-index: 9999;
    display: inline-block;
    cursor: pointer;
}

#x_logo>div {
    width: 25px;
    height: 3px;
    margin: 6px 0;
    border-radius: 2px;
    background: var(--main1);
    transition: .5s;
}

#x_logo.active #bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

#x_logo.active #bar2 {
    opacity: 0;
}

#x_logo.active #bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

header.mb.tb>nav {
    width: 100vw;
    height: 100vh;
    top: 40px;
    right: -100%;
    position: fixed;
    z-index: 8000;
    transition: .5s;
    background: var(--main2);
}

header.mb.tb>nav.active {
    right: 0;
}

/* header mb,tb menu */
header.mb.tb .main_menu {
    position: relative;
}

header.mb.tb .main_menu>a {
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
    font-size: 14px;
}

header.mb.tb .sub_menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
}

header.mb.tb .sub_menu>li {
    height: 45px;
    line-height: 45px;
}

header.mb.tb .sub_menu>li>a {
    padding: 0 24px;
}

header.mb.tb #main_mb_1:hover #sub_mb_1 {
    height: 135px;
    opacity: 1;
    overflow: visible;
}

/* pc.header 가리기 */
header.pc,
header.pc>div.logo {
    display: none;
}

/* 폰 기울였을 때 */
@media (max-width: 768px) and (orientation: landscape) {}

/* 태블릿 세로 */
@media (min-width:576px) {}

/* 데스크탑 */
@media (min-width:1024px) {

    header.pc {
        display: flex;
        height: 90px;
    }

}