@charset "utf-8";

@import url(style_guide.css);

/* 임시 스타일 가이드 불러오기 */
:root {
    /* main-color */
    --main1: #876E66;
    --main2: #E5D9B7;

    /* sub-color */
    --sub1: #796150;
    --sub2: #101010;

    /* point-color */
    --point: #EC2931;

    /* page-bg-color */
    --bg: #FAF9F5;

    /* season-color */
    --season1: #ECFBBA;
    --season2: #46A338;
    --season3: #79B52B;

    /* sub + text color */
    --white: #fff;

    /* text-color */
    --text1: #2d2d2d;
    --text2: #666;
    --text3: #8b8b8b;

    /* 추가 color */
    /* ea */
    --ea: #eaeaea;

}

/* 공통 */
body {
    background: var(--bg);
}

h1,
p:not(footer p) {
    text-align: center;
}

section {
    padding: 125px 0 0;
}

section>h1 {
    line-height: 2;
}

section>p {
    margin-bottom: 40px;
}

.section {
    height: 100vh;
}

/* section1 */
.main_bg {
    width: 100%;
    height: 100%;
    background: url(../03.assets/index/MB-bg.png) no-repeat 50% 50%;
}


/* section2 */
#main_s2 {
    background: var(--season1);
}

/* section3 */

/* section4 */

/* .pc가리기 */
.pc {
    display: none;
}

/* 태블릿 */
@media (min-width:768px) {

    /* sec1 */
    .section {
        height: 1400px;
    }

    .main_bg {
        width: 100%;
        height: 100%;
        background: url(../03.assets/index/TB_bg.png) no-repeat 50% 50%;
    }

    /* sec2 */
    /* sec3 */
    /* sec4 */
}

/* 데스크탑 */
@media (min-width:1025px) {

    /* mb,tb 숨기기 */
    .mb {
        display: none;
    }

    /* pc 꺼내기 */
    .pc {
        display: flex;
    }

    /* sec1 */
    #main_s1 {
        height: 100vh;
    }

    #main_s1 .main_bg {
        position: absolute;
        width: 1500px;
        height: 825px;
        margin: 0 auto 0;
        background: url(../03.assets/index/PC-bg.png) no-repeat 50% 50% scroll;
    }

    /* sec1 banner section */
    .s1_content.pc {
        position: relative;
        display: flex;
        justify-content: center;
        top: 100px;

    }

    #sec1_wrap {
        position: relative;
        z-index: 50;
        right: -550px;
        bottom: -120px;
    }

    .x_button {
        position: absolute;
        width: 55px;
        bottom: 20px;
        right: 30px;
        transition: .9s;
        z-index: 60;
    }

    #s1_sub_cont {
        width: 310px;
    }

    #sec1_sub1,
    #sec1_sub2,
    #sec1_sub3 {
        opacity: 0;
    }

    #sec1_sub1 {
        transition: .3s 0;
    }

    #sec1_sub2 {
        transition: .3s .3s;
    }

    #sec1_sub1 {
        transition: .3s .6s;
    }

    #s1_sub_cont.action #sec1_sub1,
    #s1_sub_cont.action #sec1_sub2,
    #s1_sub_cont.action #sec1_sub3 {
        opacity: 1;
    }

    #sec1_wrap.action .x_button {
        transform: rotate(360deg);
        right: 270px;
    }

    /* sec2 */

    /* sec3 */
    /* sec4 */
}