@charset "utf-8";

@import url(style_guide.css);

/* 임시 스타일 가이드 불러오기 */
:root {
    /* main-color */
    --main1: #876E66;
    --main2: #E5D9B7;

    /* sub-color */
    --sub1: #796150;
    --sub2: #101010;

    /* point-color */
    --point: #EC2931;

    /* page-bg-color */
    --bg: #FAF9F5;

    /* season-color */
    --season1: #ECFBBA;
    --season2: #46A338;
    --season3: #79B52B;

    /* sub + text color */
    --white: #fff;

    /* text-color */
    --text1: #2d2d2d;
    --text2: #666;
    --text3: #8b8b8b;

    /* 추가 color */
    /* ea */
    --ea: #eaeaea;

}

/* 공통 */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}

#slider_wrap2 a:hover {
    text-decoration: underline;
}

h1,
p:not(footer p) {
    text-align: center;
}

section {
    padding: 125px 0 0;
}

section>h1 {
    line-height: 2;
    color: var(--main1);
}

#main_s2 h1 {
    color: var(--season2);
}

section>p {
    margin-bottom: 40px;
    color: var(--text2);
}

.section {
    height: 100vh;
    margin: 0 auto;
}

/* section1 */
.main_bg {
    width: 100%;
    height: 100%;
    background: url(../03.assets/index/MB-bg.png) no-repeat 50% 50%;
}

/* section2 */
#main_s2 {
    background: var(--season1);
}



/* section3 */
#main_s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#s3_btn a {
    display: block;
    margin-top: 40px;
    width: 170px;
    height: 45px;
    color: var(--main1);
    border: 2px solid var(--main1);
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    transition: .3s;
}

#s3_btn a:active {
    color: var(--main2);
    background: var(--main1);
}

#slider_wrap2 {
    margin: 40px 0 40px;
}

/* s3 - slick_slider */
/* s3-title */
.s3-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 120px;
}

.s3-title h3 {
    font-family: "프리텐다드", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    width: 136px;
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.s3-title p {
    text-align: left;
    font-size: 10px;
    line-height: 2;
}

.s3-title p:first-of-type>a {
    color: var(--text2);
}

.s3-title p:last-of-type>a {
    color: #ccc;
}

.s3-title p:first-of-type {
    height: 40px;
    overflow: hidden;
}

/* slick 슬라이드 */
.sec3_slider {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* 데스크탑 슬라이드 전체 크기 */
    max-width: 260px;
}


.slick-track {
    height: 100%;
}

.slick-slider .slick-list {
    height: 348px;
}

/* 슬라이드 아이템 */
.slick-slide {
    width: 166px;
    margin: 0 16px;
    background: #fff;
    border-radius: 25px;
    /* 이미지 상단 영역 모서리 둥글게 보이기 */
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
}

.slick-slide>div {
    width: 180px;
}

/* 설명글 */
.slick-slide .s3-title {
    padding: 8px 22px;
}

/* 이전(prev)/다음(next) 버튼 */
.slick-prev,
.slick-next {
    z-index: 9999;
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 50%;
    background: #ccc;
}

.slick-prev:hover,
.slick-next:hover {
    background: #ccc;
}

.slick-prev::before,
.slick-next::before {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0px;
    /* 캐러셀 버튼 ↓ next button */
    background: url(../03.assets/index/sec3/sec3_right_btn.png);
}

/* 캐러셀 버튼 위치 조정 ↓ */
.slick-prev {
    /* 기본값 left: -25px */
    left: calc(50% - 47vw);
}

/* 캐러셀 버튼 위치 조정 ↓ */
.slick-next {
    /* 기본값 right: -25px */
    right: calc(50% - 47vw);
}

/* 캐러셀 이전 버튼 조정 ↓ next button 을 뒤집은 것  */
.slick-prev::before {
    transform: rotate(180deg);
}

/* section4 */

/* .pc가리기 */
.pc {
    display: none;
}

/* 태블릿 */
@media (min-width:768px) {

    /* sec1 */
    .section {
        height: 1400px;
    }

    .main_bg {
        width: 100%;
        height: 100%;
        background: url(../03.assets/index/TB_bg.png) no-repeat 50% 50%;
    }

    /* sec2 */
    /* sec3 */
    /* s3-title */
    .s3-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 250px;
    }

    .s3-title h3 {
        font-family: "프리텐다드", sans-serif;
        font-size: 12px;
        line-height: 1.5;
        padding: 16px 8px 8px;
        height: auto;
    }

    .s3-title p {
        text-align: left;
        font-size: 10px;
        line-height: 2;
        padding: 0 8px;
        color: var(--text2);
        height: auto;
    }

    /* sec3_slider */
    .sec3_slider {
        max-width: 500px;
    }

    .slick-slide {
        width: 355px;
    }

    .slick-slide>div {
        width: 355px;
    }

    .slick-slider .slick-list {
        height: 700px;
    }

    .s3-title,
    .s3-title h3,
    .s3-title p {
        width: 300px;
    }

    .s3-title h3 {
        font-size: 24px;
        height: auto;
    }

    .s3-title p {
        font-size: 18px;
    }

    .s3-title p:first-of-type {
        height: auto;
    }

    .s3-title p:last-child {
        color: #ccc;
    }

    /* 캐러셀 버튼 위치 조정 ↓ */
    .slick-prev {
        /* 기본값 left: -25px */
        left: calc(50% - 48vw);
    }

    /* 캐러셀 버튼 위치 조정 ↓ */
    .slick-next {
        /* 기본값 right: -25px */
        right: calc(50% - 48vw);
    }

    /* sec4 */
}

/* 데스크탑 */
@media (min-width:1025px) {

    /* mb,tb 숨기기 */
    .mb {
        display: none;
    }

    /* pc 꺼내기 */
    .pc {
        display: flex;
    }



    /* sec1 */
    #main_s1 {
        height: 100vh;
    }

    #main_s1 .main_bg {
        position: absolute;
        width: 1500px;
        height: 825px;
        margin: 0 auto 0;
        background: url(../03.assets/index/PC-bg.png) no-repeat 50% 50% scroll;
    }

    /* sec1 banner section */
    .s1_content.pc {
        position: relative;
        display: flex;
        justify-content: center;
        top: 100px;

    }

    #sec1_wrap {
        position: relative;
        z-index: 50;
        right: -550px;
        bottom: -120px;
    }

    .x_button {
        position: absolute;
        width: 55px;
        bottom: 20px;
        right: 30px;
        transition: .9s;
        z-index: 60;
    }

    #s1_sub_cont {
        width: 310px;
    }

    #sec1_sub1,
    #sec1_sub2,
    #sec1_sub3 {
        position: relative;
        right: -30px;
        opacity: 0;
    }

    #sec1_sub1 {
        transition: .3s;
    }

    #sec1_sub2 {
        transition: .3s .3s;
    }

    #sec1_sub1 {
        transition: .3s .6s;
    }

    #s1_sub_cont.action #sec1_sub1,
    #s1_sub_cont.action #sec1_sub2,
    #s1_sub_cont.action #sec1_sub3 {
        right: 0;
        opacity: 1;
    }

    #sec1_wrap.action .x_button {
        transform: rotate(360deg);
        right: 270px;
    }

    /* sec2 */

    /* sec3 */
    .sec3_slider {
        max-width: 1200px;
    }

    /* 캐러셀 버튼 위치 조정 ↓ */
    .slick-prev {
        /* 기본값 left: -25px */
        left: calc(50% - 37vw);
    }

    /* 캐러셀 버튼 위치 조정 ↓ */
    .slick-next {
        /* 기본값 right: -25px */
        right: calc(50% - 37vw);
    }

    /* sec4 */
}