@charset "utf-8";



@font-face {
    font-family: '온글잎 은별';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {}