@charset "utf-8";

@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff');

@font-face {
    font-family: 'Gmarket';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 font */

:root {
    font-size: 10px;
}

body {
    font-family: "Gmarket", sans-serif;
    line-height: 1;
}

/* booking 전용 typo */

h2 {
    font-weight: 400;
    font-size: 2.4em;
    color: #192547;
}

label {
    font-size: 1.6em;
}

label:checked {
    color: #f9f9f9;
    background: #192547;
}

ul * {
    font-size: 14px;
    line-height: 2;
    color: #192547;
}

.box_1>ul,
.box_2>ul,
.box_3>ul {
    list-style: disc;
}

.gs>ul {
    list-style: none;
}

.gray_list {
    font-size: 12px;
    line-height: 2.3;
    list-style: none;
    color: #ababab;
}

.main>li>a:hover {
    color: #192547;
}

main>a,
.bt_1,
.bt_2,
.bt_3 {
    font-size: 12px;
    color: #192547;
    margin-bottom: 60px;
}

.bt_1:hover,
.bt_2:hover,
.bt_3:hover {
    color: #fff;
}


.bkg_sub_us1 {
    font-size: 18px;
}

.bkg_sub_us2>ul,
.bkg_sub_us3>ul {
    font-size: 14px;
}

.bkg_faq li>a,
.bkg_faq li>p {
    font-size: 14px;
}

.bkg_faq li>p {
    color: #192547;
    font-weight: 900;
}

.bkg_sub_us2:hover li,
.bkg_sub_us3:hover li {
    color: #192547;
    background: #bed600;
}

/* ////booking 전용 typo//// */

.header_box {
    font-size: 10px;
    height: 25px;
}

.main>li a:hover {
    color: #192547;
}

.header_box>a {
    font-size: 10px;
}

/* sing_up 전용 typo */

body {
    font-size: 16px;
    color: #192547;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
    font-weight: 700;
}

p:last-of-type {
    font-weight: 500;
}

p:nth-of-type(1) {
    font-size: 1.6rem;
    color: #bed600;
    margin: 0;
}

.su_sub_title {
    margin-top: 80px;
    color: #fff;
    background: #192547;
}

.su_sub_title>h2 {
    margin: 40px 0 0;
}

button,
input,
select {
    font-family: "Gmarket", sans-serif;
    font-size: 16px;
}

section>li {
    font-size: 1.2rem;
}

.su_yn a {
    line-height: 60px;
    text-align: center;
}

.su_yn_center p {
    color: #192547;
}

.main>li>a:hover {
    color: #192547;
}

.su_text_box>ul>li {
    font-size: 12px;
}