@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: '프리텐다드';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



/* 스타일가이드 */
:root {
    --main: #fff;

    --sub: #ff9D55;
    --point: #ff6700;

    --tx1: #272727;
    --tx2: #999;
    --tx3: #E5E7EB;
}

/* 리셋 */
* {
    box-sizing: border-box;
}

body,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #272727;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

input,
button {
    border: none;
    padding: 0;
}

.bx-wrapper {
    height: 100%;
    box-shadow: none !important;
    border: none;
    margin-bottom: 0;
}

.bx-viewport {
    height: 100%;
}

/* typo */



html {
    font-size: 10px;
    font-family: "프리텐다드", sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

header li>a {
    font-size: 1.6rem;
    font-family: "Jua", sans-serif;
    font-weight: 700;
}

.section h2 {
    font-size: 4.8rem;
    font-family: "Jua", sans-serif;
    color: var(--point);
}

.section h3 {
    font-size: 2.4rem;
}

.qna button {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "프리텐다드", sans-serif;
}

p {
    font-size: 1.6rem;
}

.p1 {
    font-size: 14px;
}

.p2 {
    font-size: 16px;
}

.qna .p2 {
    font-family: "Jua", sans-serif;
}

.p3 {
    font-size: 18px;
}

.p3_2 {
    font-family: "Jua", sans-serif;
    font-size: 18px;
}

.p4 {
    font-size: 20px;
}

#sec4 .box>div>div p {
    font-size: 12px;
    padding: 0 24px;
}

/* sec3 font */
div.btn>ul li {
    font-family: "Jua", sans-serif;
    font-size: 24px;
}

div.btn li.on {
    color: var(--point);
}

#sec3 div.box {
    font-weight: 700;
}

#sec3 .qna h2 {
    font-size: 40px;
    color: var(--tx1);
    text-align: start;
    margin: 0;
}

footer {
    font-size: 1.2rem;
    font-family: "프리텐다드", sans-serif;
}

/* font-color */
.gray {
    color: var(--tx2);
}

/* //typo */
/* 공통 */
html {
    scroll-behavior: smooth;
}

/* body * {
    border: 1px solid olivedrab;
} */

body {
    background: var(--main);
}

#pppp {
    position: fixed;
    z-index: 9999;
}

/* header mb */
header.mb.tb {
    position: fixed;
    top: 0;
    height: 60px;
}

/* section */
/* 공통 */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section>h2 {
    position: relative;
    top: 50px;
    opacity: 0;
    margin: 104px 0 16px;
    transition: .5s;
}

.section>h2.active {
    top: 0;
    opacity: 1;
}

.section>h2.tb,
.section>h2.mb {
    transition: .5s;
}

.section>h2.tb.active,
.section>h2.mb.active {
    opacity: 1;
}

.section>p {
    position: relative;
    top: 50px;
    opacity: 0;
    margin-bottom: 44px;
    transition: .3s;
}

.section>p.active {
    top: 0;
    opacity: 1;
}

#sec4>h2.active {
    opacity: 1;
}

#sec4>p.active {
    opacity: 1;
}

/* sec1 */
#sec1 {
    height: 100vh;
}

/* slide */

#slide {
    height: 100%;
    display: flex;
    position: relative;
    background: #000;
    overflow: hidden;
}

#slide>div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ff8e8e;
}


/* sec2 */
div.ui_card.tb {
    display: flex;
}

#sec2 .ui_img {
    width: 224px;
    border-radius: 20px;
    overflow: hidden;
}

#sec2 div.ui2 {
    border-radius: 20px;
    overflow: hidden;
    width: 224px !important;
    height: 284px;
    box-shadow: 4px 4px 4px rgba(104, 104, 104, 0.5);
}

#sec2 div.ui2 p {
    text-align: center;
    line-height: 57px;
}

#sec2 div.ui2:nth-of-type(2) {
    background: #F2FFEB;
}

#sec2 div.ui2:nth-of-type(3) {
    background: #FFF9E9;
}

#sec2 div.ui2:nth-of-type(4) {
    background: #EDF9FF;
}

#sec2 div.ui2:nth-of-type(5) {
    background: #FFF2EA;
}

#sec2 div.ui2:nth-of-type(6) {
    background: #FFF2E1;
}

/* 캐러샐 */
.bx-viewport {
    height: 300px !important;
}
.bx-wrapper {
    width: 100%;
    height: 290px;
}

div.bx-wrapper .bx-pager {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    width: 8px !important;
    height: 8px !important;
    border-radius: 4px !important;
    background: var(--tx2) !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:not(:last-of-type) {
    margin-right: 8px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    width: 20px !important;
    height: 8px !important;
    border-radius: 4px !important;
    background: var(--point) !important;
}

.bx-controls-direction {
    display: none;
}

/* sec2 ui card bg */


/* sec3 */
#sec3 {
    padding: 0 24px;
}

#sec3 h2:not(.qna h2, h2.mb) {
    display: none;
}

#sec3>h2.mb {
    display: block;
    text-align: center;
    margin: 104px 0 16px;
}

div.btn ul {
    margin: 50px 0 40px;
    display: flex;
}

div.btn li:not(:last-child) {
    margin-right: 18px;
}

div.btn>ul li.on {
    position: relative;
}

div.btn>ul li.on::before {
    position: absolute;
    content: "★";
    font-family: "Jua", sans-serif;
    color: var(--point);
    font-size: 18px;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
}

.tabs {
    margin-bottom: 50px;
}

.tab {
    display: none;
}

.tab.on {
    display: flex;
    flex-wrap: wrap;
}

.tab>.box {
    width: 100%;
    height: 156px;
    border-radius: 20px;
    padding: 16px 24px;
    background: #F8F4F1;
}

.tab>.box>a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab>.box:not(:last-child) {
    margin-bottom: 16px;
}

div.qna {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 240px;
    background: #FFE116;
    border-radius: 20px;
    padding: 24px 16px;
    margin-bottom: 104px;
}

div.qna>.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 35px;
}

.qna button {
    border-radius: 24px;
    padding: 16px 24px;
    background: var(--main);
}

.qna>div:last-child {
    position: absolute;
    display: none;
    right: 0;
    top: 0px;
}

/* sec4 */

#sec4 {
    padding: 0 16px;
}

#sec4>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 180px 0;
}

#sec4 .box {
    width: 100%;
}

#sec4 .box>div {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--tx2);
}

#sec4 .box>h3 {
    margin-bottom: 16px;
}

#sec4 .box>h3::before {
    content: "★";
    font-family: "Jua", sans-serif;
    color: var(--point);
    margin-right: 8px;
}

#sec4 .box p {
    line-height: 24px;
}

#sec4 .box>div>div:last-child {
    display: flex;
    flex-direction: column;
}

#sec4 .box:not(:last-of-type) {
    margin-bottom: 180px;
}

#sec4 .s4_img {
    width: 50%;
    height: 270px;
    overflow: hidden;
}

#sec4 .box:first-child .s4_img {
    background: url(../images/전대점.png) 50% 50%/cover;
}

#sec4 .box:last-child .s4_img {
    background: url(../images/주디마리홍대점.png) 50% 50%/cover;
}

#sec4 .box>div>div:last-child {
    width: 50%;
}

#sec4 p.og_bg {
    background: var(--sub);
}

#sec4 .box>div>div>div p {
    line-height: 1.5;
}

#sec4 .last_s4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* footer */
footer>div:first-child {
    height: 48px;
    padding: 0 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sub);
    font-weight: 700;
}

footer>div:first-child a:not(:last-child) {
    margin-right: 24px;
}

footer>div:last-child {
    padding: 30px 40px 63px;
    background: var(--tx1);
}

footer>div:last-child {
    color: var(--main);
}

footer div.logo {
    width: 160px;
    margin-bottom: 18px;
}

/* 가리기 */
.pc {
    display: none;
}

/* 테블릿 */

@media (min-width: 768px) {

    /* header */
    header.tb {
        height: 70px;
    }

    /* sec1 */
    /* sec2 */


    /* sec3 */
    #sec3>h2.tb {
        display: block !important;
    }

    #sec3>h2.mb {
        display: none;
    }

    div.qna {
        padding: 45px 24px 35px;
    }

    .qna>div:last-child {
        position: absolute;
        display: block;
        right: 0;
        top: 0px;
    }

    /* sec4 */
    #sec4 p.tb.pc {
        display: block;
    }

    #sec4 .s4_img {
        width: 50%;
        height: 380px;
        overflow: hidden;
    }

    #sec4 .box p {
        line-height: 42px;
    }

    #sec4 .box>div>div>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #sec4 .box>div>div p {
        font-size: 18px;
        padding: 0 32px;
    }

    /* footer */
    footer>div:first-child {
        height: 60px;
    }

    footer>div:last-child {
        padding: 30px 56px;
    }

    /* 가림막 */

}


/* PC버전 */

@media (min-width: 1025px) {

    /* header */
    header.pc {
        width: 100%;
        height: 104px;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 9990;
        top: 0;
        border-bottom: 1px solid var(--point);
        backdrop-filter: blur(20px);
    }

    header.pc .logo {
        position: absolute;
        z-index: 9990;
        width: 200px;
        margin-left: 320px;
    }

    header.pc nav {
        position: absolute;
        z-index: 9990;
        left: 519px;
        margin-left: 148px;
    }

    header.pc ul {
        display: flex;
    }

    header.pc li:not(:last-child) {
        margin-right: 80px;
    }

    header.pc a {
        transition: .3s;
    }

    header.pc a:hover {
        color: var(--point);
    }

    /* section */
    /* 공통 */
    .section#sec1 {
        width: 100%;
        height: 100vh;
    }

    .section h2 {
        width: 100%;
        margin: 209px 0 16px;
        text-align: center;
    }

    .section>p {
        text-align: center;
        margin-bottom: 44px;
    }

    /* sec1 */
    /* sec2 */
    #sec2 {
        margin: 0 auto;
    }

    div.ui_card.pc {
        display: flex;
        justify-content: center;
        height: 284px;
    }

    div.ui_card.pc>div {
        border-radius: 20px;
        overflow: hidden;
    }

    div.sub_ui:not(:last-of-type) {
        margin-right: 24px;
    }

    div.ui_card.pc .cd_img {
        width: 224px;
        height: 224px;
        overflow: hidden;
        transition: .3s;
    }

    div.ui_card.pc .cd_img:hover img {
        transform: scale(1.2);
        transition: .3s;
    }

    div.ui_card p {
        text-align: center;
        line-height: 57px;
    }

    .sub_ui:first-of-type {
        background: #F2FFEB;
    }

    .sub_ui:nth-of-type(2) {
        background: #FFF9E9;
    }

    .sub_ui:nth-of-type(3) {
        background: #EDF9FF;
    }

    .sub_ui:nth-of-type(4) {
        background: #FFF2EA;
    }

    .sub_ui:last-of-type {
        background: #FFF2E1;
    }

    /* sec3 */
    #sec3 h2 {
        display: block;
    }

    #sec3>div {
        margin: 0 auto;
        width: 1440px;
        display: flex;
        flex-direction: column;
    }

    #sec3 .tab.on {
        display: flex;
        justify-content: space-between;
    }

    #sec3 .box {
        width: 422px;
        height: 192px;
        margin: 0;
    }

    div.qna {
        padding: 45px 44px 35px;
    }


    /* sec4 */

    #sec4>div {
        width: 1010px;
    }

    /* footer */
    footer>div:first-child {
        height: 52px;
        padding: 0 384px;
        justify-content: flex-start;
        background: var(--sub);
        font-weight: 700;
    }

    footer>div:first-child a:not(:last-child) {
        margin-right: 24px;
    }

    footer>div:last-child {
        display: flex;
        padding: 48px 384px;
        background: var(--tx1);
    }

    footer>div:last-child {
        color: var(--main);
    }

    footer .pc {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 600px;
        margin-bottom: 14px;
    }

    footer .pc>p {
        line-height: 1.5;
        margin-bottom: 10px;
    }

    footer .pc p:not(:last-child) {
        margin-right: 16px;
    }

    footer .pc>p:not(:first-child) {
        font-size: 12px;
        font-weight: 400;
    }

    .ft_box2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .ft_box2 ul {
        margin-top: 36px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ft_box2 a {
        font-family: "Jua", sans-serif;
        font-size: 16px;
        transition: .3s;
        color: var(--main);
    }

    .ft_box2 a:hover {
        color: var(--point);
    }

    /* 모바일태블릿 가리기 */
    .mb,
    .tb,
    .mb.tb {
        display: none;
    }
}