@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: '프리텐다드';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



/* 스타일가이드 */
:root {
    --main: #fff;

    --sub: #ff9D55;
    --point: #ff6700;

    --tx1: #272727;
    --tx2: #999;
    --tx3: #E5E7EB;
}

/* 리셋 */
* {
    box-sizing: border-box;
}

body,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #272727;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

input,
button {
    border: none;
    padding: 0;
}

/* typo */
html {
    font-size: 10px;
    font-family: "프리텐다드", sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

header li>a {
    font-size: 1.6rem;
    font-family: "Jua", sans-serif;
    font-weight: 700;
}

.section h2 {
    font-size: 4.8rem;
    font-family: "Jua", sans-serif;
    color: var(--point);
}

.section h3 {
    font-size: 2.4rem;
}

.qna button {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "프리텐다드", sans-serif;
}

p {
    font-size: 1.6rem;
}

.p1 {
    font-size: 14px;
}

.p2 {
    font-size: 16px;
}

.qna .p2 {
    font-family: "Jua", sans-serif;
}

.p3 {
    font-size: 18px;
}

.p3_2 {
    font-family: "Jua", sans-serif;
    font-size: 18px;
}

.p4 {
    font-size: 20px;
}



/* sec3 font */

/* footer */
#footer1 a {
    font-weight: 700;
}

#footer2 .p1 {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}

#footer2 .ft_bx1>p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5;
    font-family: "프리텐다드", sans-serif;
}

.ft_bx2 p {
    color: var(--point);
}

.ft_bx2.pc a {
    font-size: 1.6rem;
    color: var(--main);
    transition: .3s;
}

.ft_bx2.pc a:hover {
    font-size: 1.6rem;
    color: var(--point);
}

/* font-color */
.gray {
    color: var(--tx2);
}

/* //typo */
/* 공통 */
html {
    scroll-behavior: smooth;
}

/* body * {
    border: 1px solid olivedrab;
} */

body {
    background: var(--main);
}

#pppp {
    position: fixed;
    z-index: 9999;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background: #fff;
    border-bottom: 2px solid var(--sub);
}

header>.logo {
    width: 150px;
}

#x_logo {
    position: absolute;
    right: 20px;
    z-index: 9999;
    display: inline-block;
    cursor: pointer;
}

#x_logo>div {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    border-radius: 2px;
    background: var(--tx1);
    transition: .5s;
}

#x_logo.active #bar1 {
    transform: translate(0, 10px) rotate(-45deg);
    background: var(--main);
}

#x_logo.active #bar2 {
    opacity: 0;
}

#x_logo.active #bar3 {
    transform: translate(0, -10px) rotate(45deg);
    background: var(--main);
}

/* 모바일, 테블릿 nav */
nav.mb.tb {
    width: 70%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: -100%;
    transition: 1s;
    background: var(--sub);
}

nav.mb.tb.active {
    right: 0;
}

nav.mb.tb>.logo {
    margin: 70px 0 19px;
    width: 150px;
}

ul.mb_menu {
    width: 100%;
    padding: 24px;
}

ul.mb_menu li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

ul.mb_menu li a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding: 0 16px;
    transition: .3s;
    color: var(--main);
}

ul.mb_menu li a::after {
    content: ">";
}

ul.mb_menu li a:hover {
    background: var(--main);
    color: var(--point);
}

/* section */
/* 공통 */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* sec1 */


/* slide */




/* sec2 */


/* #sec2 div.ui2:nth-of-type(1) {
    background: #F2FFEB;
}

#sec2 div.ui2:nth-of-type(2) {
    background: #FFF9E9;
}

#sec2 div.ui2:nth-of-type(3) {
    background: #EDF9FF;
}

#sec2 div.ui2:nth-of-type(4) {
    background: #FFF2EA;
}

#sec2 div.ui2:nth-of-type(5) {
    background: #FFF2E1;
} */

/* 캐러샐 */




/* sec2 ui card bg */


/* sec3 */
#sec3 {
    padding: 0 24px;
}

#sec3 h2:not(.qna h2, h2.mb) {
    display: none;
}

#sec3>h2.mb {
    display: block;
    text-align: center;
    margin: 104px 0 16px;
}

div.btn ul {
    margin: 50px 0 40px;
    display: flex;
}

div.btn li:not(:last-child) {
    margin-right: 18px;
}

div.btn>ul li.on {
    position: relative;
}

div.btn>ul li.on::before {
    position: absolute;
    content: "★";
    font-family: "Jua", sans-serif;
    color: var(--point);
    font-size: 18px;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
}

.tabs {
    margin-bottom: 50px;
}

.tab {
    display: none;
}

.tab.on {
    display: flex;
    flex-wrap: wrap;
}

.tab>.box {
    width: 100%;
    height: 156px;
    border-radius: 20px;
    padding: 16px 24px;
    background: #F8F4F1;
}

.tab>.box>a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab>.box:not(:last-child) {
    margin-bottom: 16px;
}

div.qna {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 240px;
    background: #FFE116;
    border-radius: 20px;
    padding: 24px 16px;
    margin-bottom: 104px;
}

div.qna>.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 35px;
}

.qna button {
    border-radius: 24px;
    padding: 16px 24px;
    background: var(--main);
}

.qna>div:last-child {
    position: absolute;
    display: none;
    right: 0;
    top: 0px;
}

/* sec4 */


/* footer */
#footer1 {
    height: 48px;
    padding: 0 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sub);
    font-weight: 700;
}

#footer1>a:not(:last-child) {
    margin-right: 24px;
}

#footer1-2 {
    padding: 30px 40px 63px;
    background: var(--tx1);
    color: var(--main);
}

#footer2 .logo {
    width: 160px;
    margin-bottom: 18px;
    margin: 0 auto 35px;
}

#footer2 .ft_bx1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer2 p:not(:last-child) {
    margin-right: 10px;
}

/* 가리기 */
.pc {
    display: none;
}

/* 테블릿 */

@media (min-width: 768px) {
    /* header */
    nav.mb.tb {
        width: 50%;
    }


    /* footer */
    #footer2 .ft_bx1>p {
        font-size: 1.4rem;
    }

    /* 가림막 */

}


/* PC버전 */

@media (min-width: 1025px) {

    /* footer */
    #footer1 {
        justify-content: flex-start;
        padding: 0 384px;
    }

    #footer1-2 {
        display: flex;
        padding: 48px 384px;
    }

    #footer2 {
        width: 530px;
    }

    #footer2 .logo {
        margin: 0;
        margin-bottom: 35px;
    }

    #footer2 .ft_bx1 {
        justify-content: flex-start;
    }

    #footer2 .p1 {
        text-align-last: left;
    }

    .ft_bx2.pc {
        width: 620px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ft_bx2.pc ul {
        width: 620px;
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }

    /* pc버전 다시 꺼내기 */
    .pc {
        display: flex;
    }

    /* 모바일태블릿 가리기 */
    .mb,
    .tb,
    .mb.tb {
        display: none;
    }


}