@charset "utf-8";

/* 스타일가이드 */
:root {
    --main: #fff;

    --sub: #ff9D55;
    --point: #ff6700;

    --tx1: #272727;
    --tx2: #999;
    --tx3: #E5E7EB;
}

/* 리셋 */
* {
    box-sizing: border-box;
}

body,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #272727;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

input,
button {
    border: none;
    padding: 0;
}

/* typo */

@font-face {
    font-family: '프리텐다드';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 10px;
    font-family: "프리텐다드", sans-serif;
}

header li>a {
    font-size: 1.6rem;
    font-family: "Jua", sans-serif;
}

.section h2 {
    font-size: 4.8rem;
    font-family: "Jua", sans-serif;
}

.section h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

.p1 {
    font-size: 14px;
}

.p2 {
    font-size: 16px;
}

.p3 {
    font-size: 18px;
}

.p3_2 {
    font-family: "Jua", sans-serif;
    font-size: 18px;
}

.p4 {
    font-size: 20px;
}

footer {
    font-size: 1.2rem;
    font-family: "프리텐다드", sans-serif;
}


/* //typo */

/* 공통 */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main);
}

body * {
    border: 1px solid mediumpurple;
}

/* 모바일 */
/* header */
header {
    height: 60px;
    width: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9000;
    background: var(--main);
}

.logo {
    width: 150px;
}

.main_mu {
    display: flex;
    flex-direction: column;
}


nav div.logo {
    margin-top: 60px;
    width: 150px;
    height: 55px;
}

nav>div.tb.mb {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--sub);
}

div.tb.mb>.main_mu {
    width: 100%;
    padding: 0 28px;
}

nav div.tb.mb .main_mu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

nav div.tb.mb .main_mu li:hover {
    background: var(--main);
}

/* x-logo animation */
div.x_logo hr {
    width: 22px;
    border: 2px solid var(--tx1);
}

div.x_logo hr {
    margin: 0;
    transition: .3s;
}

div.x_logo hr:not(:last-of-type) {
    margin-bottom: 6px;
}

div.x_logo.active hr:first-of-type {
    transform: rotate(45deg);
}

div.x_logo.active hr:nth-of-type(2) {
    opacity: 0;
}

div.x_logo.active hr:last-of-type {
    transform: rotate(315deg);
}

/* ///x-logo animation/// */
/* //header END */

/* section */
/* section 공통 */
.section {
    height: 100vh;
}

/* #sed1 */
#sec1 {
    background: #c0c0c0;
}

#slide {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background: var(--sub);
}

/* //#sec1 END */

#sec2 {
    background: #868686;
}

#sec3 {
    background: #474747;
}

#sec4 {
    background: #ffc1c1;
}

/* //section END */

/* footer */
#footer1 {
    height: 48px;
    padding: 0 46px;
    background: var(--sub);
}

#footer1 ul {
    display: flex;
    height: 100%;
    align-items: center;
}

#footer1 li:not(last-of-type) {
    margin-right: 20px;
}

#footer2 {
    padding: 30px 46px 63px;
    background: var(--tx1);
}

#footer2 .logo {
    width: 162px;
    margin: 0 auto;
}


/* //footer END */

/* pc버전 가리기 */
.pc {
    display: none;
}

/* 테블릿 */

@media (min-width: 768px) {
    header {
        height: 70px;
        padding: 0 20px;
    }

    nav div.logo {
        margin-top: 70px;
        height: 55px;
    }

    div.tb.mb>.main_mu {
        width: 100%;
        padding: 0 62px;
    }

    /* footer */
    #footer1 {
        height: 60px;
        padding: 0 56px;
    }

    #footer2 {
        padding: 30px 56px;
    }

    /* //footer */
}


/* PC버전 */

@media (min-width: 1025px) {

    /* PC버전 보이기 */
    .pc,
    ul.main_mu.pc {
        display: flex;
    }

    /* 헤더 */
    header {
        height: 105px;
        padding: 0 320px;
        justify-content: flex-start;
    }

    .main_mu {
        margin-left: 148px;
        flex-direction: row;
    }

    .main_mu li:not(:last-of-type) {
        margin-right: 80px;
    }

    .main_mu li a {
        transition: .3s;
    }

    .main_mu li a:hover {
        color: var(--point);
    }

    /* footer */
    #footer1 {
        height: 56px;
        padding: 0 384px;
    }

    #footer2 {
        padding: 48px 384px;
    }

    /* //footer */

    /* 태블릿,모바일 버전 가리기 */
    [class*="tb"],
    [class*="mb"],
    nav>div.tb.mb {
        display: none;
    }
}