@charset "utf-8";

/* 전체 */
body {
    background: url(../image/bg.jpg) no-repeat 100% 100%/cover fixed;
}

.ck {
    color: #f0f6f8;
    background: #007ccf;
}

/* //전체 */

/* tabs */

#tabs>div {
    display: none;
}

#tabs>div.on {
    display: block;
}

#tabs {
    width: 1500px;
    background: #f0f6f8;
}

/* //tabs */

/* section */
#s2 {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#s2 h2 {
    margin: 30px 0;
}

#sub_p {
    width: 330px;
    margin: 0 auto;
    display: flex;
}

#sub_p>p:not(:nth-of-type(2)) {
    margin: 0 30px 20px 0;
}

span {
    color: #007cff;
}

.sp1 {
    color: #00D4EA;
}

ul {
    display: flex;
}

ul>li {
    border-radius: 8px 8px 0 0;
    padding: 8px 24px;
    background: #F0F6F8;
    margin-right: 8px;
    cursor: pointer;
}

/* tab1 */
/* //tab1 */

/* tab3 */
#tab3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#tab3>h2 {
    margin: 0;
    padding: 30px 0;
}

#tab3 image {
    display: block;
    width: 1300px;
}

.btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 14%;
    top: 55%;
}

.btn>button {
    margin-bottom: 20px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    color: #F0F6F8;
    background: #00D4EA;
}

.btn>button:active {
    color: #F0F6F8;
    background: #007cff;
}

/* //tab3 */

/* teb4 */

#tab4 p {
    padding: 20px 0;
}

#tab4 h2 {
    padding: 0;
    margin: 0;
}



/* //teb4 */


/* //section */

/* tabs */

#tabs>div {
    display: none;
}

#tabs>div.on {
    display: block;
}

#tabs {
    width: 1300px;
    background: #f0f6f8;
}

/* //tabs */