@charset "utf-8";

/* header */
header {
    position: fixed;
    display: flex;
    z-index: 9999;
    width: 100%;
    height: 90px;
    align-items: center;
    border: 1px solid #CAC0B6;
}

nav {
    margin-left: 50px;
    display: flex;
}

.main:not(.sub) {
    margin-right: 65px;
}

.main {
    position: relative;
}

.sub {
    top: 53px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    background: #0d4633;
}


.sub::before {
    left: 0;
    background: #0d4633;
}

.sub li {
    margin-right: 70px;
}