@charset "utf-8";

@font-face {
    font-family: "HS새마을체";
    src: url("http://12alsrid12.github.io/eb0422/assets/font/HSSaemaul_HS새마을체/HSSaemaul-Regular.ttf")
}

@font-face {
    font-family: "온글잎 은별";
    src: url("https://12alsrud12.github.io/web0422/assets/font/온글잎_은별/온글잎_은별.ttf");
}

:root {
    font-family: "HS새마을체", sans-serif;
    font-size: 10px;
}

body {
    font-family: "HS새마을체", sans-serif;
    font-size: 10px;
}

.main a:not(.sub>li a) {
    font-size: 16px;
    color: #0D4633;
}

.sub li {
    font-size: 24px;
    color: #F7F0DA;
}

.sub li:hover {
    font-size: 25px;
    font-weight: 700;
    color: #F26B24;
    text-decoration: underline;
}