@charset "utf-8";

/* style-guide */

:root {
    /* main-color */
    --main1: #0d4633;
    --main2: #3D6B5C;

    /* sub-color */
    --sub1: #f7f0da;
    --sub2: #2e2e2e;
    --sub3: #cac0b6;

    /* point-color */
    --point: #f26b24;

    /* white */
    --wt: #fff;
}

/* reset */


/* typo */

/* 공통 */
html {
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
}

.logo {
    width: 268px;
    height: 37px;
}

.h2 {
    height: 60px;
    background: var(--main1);
}

/* class- mb는 pc에서는 안보이게 하고, class- pc는 모바일에서는 안보이게 하는용도 */

/* 폰 */


body {
    background: var(--sub1);
}

header {
    width: 100%;
    height: 42px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sub1);
    border-bottom: 1px solid var(--sub3);
}

.hd_logo {
    width: 16px;
}

.hd_logo img {
    vertical-align: middle;
}

#serch {
    width: 17px;
    height: 19px;
    margin-right: 15px;
    background: url(../images/serch_ico.png) no-repeat 50% 50%/cover;
}

#my_page {
    width: 17px;
    height: 18px;
    background: url(../images/My_page_ico.png) no-repeat 50% 50%/cover;
}

.ft_mb_img {
    padding: 16px 0;
    width: 100%;
    height: auto;
}

div.sns.mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.sns.mb>.sns:not(:last-of-type) {
    width: 37px;
}

.sns.mb>.sns:last-of-type {
    width: 19px;
}

/* 네비게이션 */

nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 42px;
    right: -100%;
    transition: .5s;
    background: var(--sub1);
}

nav.active {
    right: 0;
}

/* 메뉴 */

.main {
    position: relative;
}

/* ////모바일 메뉴 로그인 버전//// */
.main li>div.mb {
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid var(--main2);
    align-items: center;
    padding: 0 16px;
}

.main div.mb div:first-of-type {
    display: flex;
    align-items: center;
}

.main div.mb div:first-of-type div {
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

.main li>div div>button {
    width: 97px;
    height: 34px;
    background: var(--main2);
    border-radius: 15px;
}

/* ////모바일 메뉴 로그인///// */

.main_menu {
    position: relative;
    transition: .3s;
    line-height: 40px;
    padding: 0 16px;
}

.sub_menu {
    padding: 0 32px;
    position: absolute;
    left: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .3s;
    background: var(--sub1);
}

/* main-menu 호버시 sub_menu */
.main_menu:hover .sub_menu {
    height: 150px;
    opacity: 1;
    visibility: visible;
    overflow: visible;
}



/* header 로고 및 야이콘 */
.mini_lg {
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
}

.x_logo {
    margin-right: 15px;
}

.x_logo hr {
    width: 17px;
    border: 1px solid var(--main1);
    transition: 1s;
}

.x_logo hr.active {
    top: 2px;
    right: 63px;
    position: absolute;
}

.x_logo hr:first-of-type.active {
    transform: rotate(45deg);
}

.x_logo hr:nth-of-type(2).active {
    opacity: 0;
}

.x_logo hr:last-of-type.active {
    transform: rotate(315deg);
}

.mini_lg input {
    width: 0;
    display: none;
}

/* 섹션1 */
#sec1 {
    height: 1305px;
    background: var(--main1);
    padding: 64px 24px 24px;
}

div.mb .s1_bx1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 25px;
    background: var(--sub1);
}

div.mb .s1_bx1 button {
    margin: 0 auto 24px;
    border-radius: 5px;
    width: 130px;
    height: 40px;
}

div.mb .s1_img_main {
    margin: 24px auto;
    width: 160px;
}

div.mb .s1_img img {
    margin-bottom: 88px;
}

/* 섹션2 */
/* 섹션3 */
/* 섹션4 */

/* 푸터 */

footer {
    padding: 32px 16px 48px;

    background: var(--sub2);
}

.ft1 {
    display: none;
}


ul.mb.fm_site_main {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 50;
    border-radius: 20px;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: var(--wt);
}

.mb.mb.fm_site_main>li {
    z-index: 100;
    left: 0;
    text-align: start;
    font-size: 16px;
    font-family: "HS새마을체", sans-serif;
    color: var(--sub2);
}

ul.mb.fm_site_main::after {
    position: absolute;
    z-index: 50;
    content: "";
    background: url(../images/familyiste_up.png) no-repeat;
    margin: 18px 0 0 280px;
    width: 11px;
    height: 7px;
}

ul.mb.fm_site_main:hover::after {
    position: absolute;
    z-index: 50;
    content: "";
    background: url(../images/familyiste_down.png);
    width: 11px;
    height: 7px;
}

ul.mb.fm_site {
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 5px 5px 20px 20px;
    padding: 24px 0;
    background: var(--wt);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
}

ul.mb.fm_site li a {
    padding: 0 16px;
    font-size: 16px;
    font-family: "HS새마을체", sans-serif;
    color: var(--point);
    height: 40px;
    line-height: 40px;
}

.mb.fm_site_main:hover ul.mb.fm_site {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 350px;
}

.ft2_bx1 .logo {
    margin: 24px 0;
}

.cp:not(:last-of-type) {
    margin-bottom: 16px;
}

.cp.mb {
    height: 50px;
    padding: 8px 0 0;
}

ul.mb {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

ul.mb li a {
    padding: 0 40px;
}

ul.mb li:not(.mb.fm_site_main>li, .mb.fm_site li) {
    border: 1px solid var(--sub1);
}

.pc {
    display: none;
}



/* 폰 기울였을 시 */
@media (min-width: 740px) and (orientation: landscape) {}

/* 데스크탑 */

@media (min-width: 992px) {

    /* 헤더 */
    header {
        height: 90px;
        background: var(--sub1);
        transition: .3s;
        border-bottom: 2px solid var(--sub3);
    }

    nav:hover {
        background: var(--main2);
        border-bottom: none;
    }

    header .logo {
        position: fixed;
        box-sizing: content-box;
        left: 40%;
        top: 35px;
        width: 268px;
        height: 37px;
        border-radius: 18px 18px 0 0;
        padding: 8px 24px;
        background: url(../images/logo.png) no-repeat 50% 50%;
        background-color: var(--main1);
    }

    .x_logo {
        display: none;
        visibility: hidden;
    }

    .mini_lg {
        margin-right: 232px;
    }

    #serch {
        width: 18px;
        height: 21px;
        background: url(../images/serch_ico.png) no-repeat 50% 50%/cover;
        margin-right: 30px;
    }

    #my_page {
        width: 24px;
        height: 27px;
        background: url(../images/My_page_ico.png) no-repeat 50% 50%/cover;
    }

    header:hover #serch {
        background: url(../images/serch_ico_hover.png) no-repeat 50% 50%/cover;
    }

    header:hover #my_page {
        background: url(../images/My_page_ico_hover.png) no-repeat 50% 50%/cover;
    }

    header:hover input {
        border-bottom: 1px solid var(--sub1);
    }

    .mini_lg input {
        width: 150px;
        padding-bottom: 10px;
        opacity: 1;
        display: block;
        border-bottom: 1px solid var(--main1);
    }

    .mini_lg input::after {
        content: url(../images/serch_ico.png);
        width: 18px;
        height: 21px;
        background: #fff;
    }

    /* 메뉴 부분 */

    nav {
        height: 90px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 50px;
        top: 0;
        left: 0;
    }

    .main {
        display: flex;
    }

    nav::before {
        position: absolute;
        content: "";
        display: block;
        top: 90px;
        left: 0;
        width: 100%;
        background: var(--main);
    }

    nav:hover::before {
        height: 150px;
    }

    nav.pc_bg {
        background: var(--main2) !important;
    }

    /* 데스크탑 버전 메뉴 */

    .sub_menu {
        top: 63px;
        display: flex;
        padding: 0;
        line-height: 140px;
        padding-left: 50px;
    }

    .sub_menu li:not(:last-of-type) {
        margin-right: 70px;
    }

    .main_menu:not(:last-of-type) {
        padding: 0;
        margin-right: 65px;
    }

    .main_menu:hover .sub_menu {
        width: 1920px;
        background: var(--main1);
    }

    #main1:hover #sub1 {
        left: -54px;
    }

    #main2:hover #sub2 {
        left: -159px;
    }

    #main3:hover #sub3 {
        left: -300px;
    }

    #main4:hover #sub4 {
        left: -422px;
    }

    #main5:hover #sub5 {
        left: -552px;
    }

    /* PC버전 섹션 시작 */
    /* 공통 */
    .section {
        height: 100vh;
        background: #ccc;
    }

    .h2 {
        height: 190px;
    }

    .h2 img.logo {
        vertical-align: bottom;
        margin: 128px 0 0 390px;
    }

    /* //PC버전 섹션 종료 */

    /* 푸터 */
    footer {
        padding: 0;
        height: 595px;
    }

    .ft1 {
        display: flex;
        align-items: center;
        height: 80px;
        background: var(--sub1);
    }

    .ft1 ul {
        width: 1716px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .ft2 {
        display: flex;
        margin: 0 200px;
    }


    /* mb제거 */
    .mb,
    div.sns.mb,
    ul.mb,
    div.mb.s1_bx1 {
        display: none;
    }

}