@charset "utf-8";

@font-face {
    font-family: 'HS새마을체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '온글잎 은별';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: '온글잎 은별', sans-serif;
    font-size: 10px;
}

button {
    font-family: "온글잎 은별", sans-serif;
    font-size: 16px;
}


/* header */
/* main_menu */
.main_menu a {
    font-family: "HS새마을체", sans-serif;
    font-size: 1.6em;
    color: var(--main1);
}

.sub_menu a {
    font-family: "HS새마을체", sans-serif;
    font-size: 1.6em;
}

.main div.mb p {
    font-family: "Abel", sans-serif;
    font-size: 1.6rem;
}

.main div.mb button {
    color: var(--sub1);
}


/* section */
.section h2:first-of-type {
    font-size: 32px;
    font-family: "HS새마을체", sans-serif;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: var(--point);
    background: var(--main1);
}

/* footer */

.mb.fm_site button {
    font-size: 16px;
    font-family: "HS새마을체", sans-serif;
    color: var(--sub2);
}

ul.mb.fm_site li a {
    font-size: 16px;
    font-family: "HS새마을체", sans-serif;
    color: var(--point);
}

/* cp = copyRight */

.cp {
    color: var(--sub1);
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

ul.mb {
    line-height: 38px;
}

ul.mb li a {
    color: var(--sub1);
}

/* desk-top:font color */
@media (min-width:992px) {
    .main_menu a {
        font-family: "HS새마을체", sans-serif;
        font-size: 1.3em;
        color: var(--main1);
    }

    .sub_menu a {
        font-family: "HS새마을체", sans-serif;
        font-size: 2.4em;
    }

    .main_menu:hover .sub_menu a {
        color: var(--sub1);
    }

    header:hover .main_menu a {
        color: var(--sub1);
    }

    .sub_menu li a:hover {
        color: var(--point);
        text-decoration: underline;
    }

    .main_menu a.active {
        color: var(--sub1);
    }



    /* section */

    .section h2:first-of-type {
        font-size: 48px;
        height: 190px;
        padding: 120px 0 0;
    }

    .ft1 li a {
        font-family: "HS새마을체", sans-serif;
        font-size: 2.4em;
    }


}

/* 공통 */
.ong {
    color: var(--point);
}