@charset "utf-8";

/* booking 전용 typo */


h2 {
    font-size: 2.4em;
    color: #192547;
}

label {
    font-size: 1.6em;
}

label:checked {
    color: #f9f9f9;
    background: #192547;
}

/* ////booking 전용 typo//// */

/* 전체 */
body {
    background: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

/* //전체// */

/* title */
h2 {
    padding-left: 40px;
    line-height: 120px;
    background: #fff;
    border-bottom: 3px solid #ababab;
    box-shadow: 0 -4px 4px rgba(109, 109, 109.5);
}

/* ////title//// */

/* tabs 유형 */
.bk_tabs {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}

.bk_tabs label {
    display: inline-block;
    width: 600px;
    line-height: 55px;
    text-align: center;
    border-radius: 0 0 18px 18px;
    color: #192547;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(109, 109, 109.5);
}


.bk_tabs section {
    display: none;
    position: absolute;
}

.bk_tabs input {
    display: none;
}

.bk_tabs input:checked+label {
    color: #fff;
    background: #192547;
}

.bk_tabs input:checked+label+div {
    display: block;
}

/* ////tabs 유형//// */

.bk_tab1 {
    width: 1120px;
}

.bk_tab2 {
    width: 1120px;
}