@charset "utf-8";

/* booking 전용 typo */

h2 {
    font-weight: 400;
    font-size: 2.4em;
    color: #192547;
}

label {
    font-size: 1.6em;
}

label:checked {
    color: #f9f9f9;
    background: #192547;
}

.box_1>ul,
.box_2>ul {
    list-style: disc;
    font-size: 1.4em;
    line-height: 2;
    color: #192547;
}

.gray_list {
    font-size: 12px;
    list-style: none;
    color: #ababab;
}

button {
    font-size: 1.2em;
    color: #192547;
    margin-bottom: 60px;
}

button>a {
    color: #192547;
}

.bt_1:hover>a {
    color: #fff;
}

/* ////booking 전용 typo//// */

/* 전체 */
body {
    background: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

.bk_tab1,
.bk_tab2 {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

hr {
    margin: 0;
    border: 1px dashed #192547;
}

/* //전체// */

/* title */
main>h2 {
    padding-left: 40px;
    line-height: 120px;
    background: #fff;
    border-bottom: 3px solid #f4f4f4;
    box-shadow: 0 -4px 4px rgba(109, 109, 109.5);
}

/* ////title//// */

/* tabs 유형 */
.bk_tabs {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto;

}

.bk_tabs label {
    position: static;
    z-index: 1;
    display: inline-block;
    width: 600px;
    line-height: 55px;
    text-align: center;
    border-radius: 0 0 18px 18px;
    color: #192547;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(109, 109, 109.5);
}


.bk_tabs section {
    display: none;
    position: absolute;
    width: 1120px;
    left: 40px;
    top: 55px;
}

.bk_tabs input {
    display: none;
}

.bk_tabs input:checked+label {
    color: #fff;
    background: #192547;
}

.bk_tabs input:checked+label+section {
    display: flex;
}

/* ////tabs 유형//// */

.bk_tab1 {
    width: 1120px;
}

.bk_tab2 {
    width: 1120px;
}

/* section */
section>h2 {
    padding: 60px 0;
}

.bk_contain {
    display: flex;
    flex-direction: column;
}

.bk_contain_2 {
    display: flex;
    flex-direction: row;
}

.icon {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-top: 60px;
    align-items: center;
}


.sub_con {
    width: 890px;
    margin: 60px 0 0 0;
}

/* section title */

.icon>h2 {
    margin-top: 20px;
}

.sub_con>h2 {
    margin-bottom: 20px;
}

.box_1>h2 {
    margin-bottom: 15px;
}

.box_2>h2 {
    margin-bottom: 15px;
}

/* ////section title//// */

/* section - . ul */
.box_1>ul,
.box_2>ul {
    padding-left: 20px;
}

.box_1>ul {
    margin-bottom: 40px;
}

.box_2>ul {
    margin-bottom: 60px;
}

/* /////section - . ul///// */

/* h2X >ul */

.h2x_ul {
    margin: 40px 0 0;
}

.bt_1 {
    line-height: 25px;
    padding: 0;
    padding: 1px 8px 0;
    border: 1px solid #bed600;
    border-radius: 5px;
    background: #f9f9f9;
}

.bt_1::after {
    margin-left: 5px;
    content: url(https://github.com/12alsrud12/web0422/blob/main/70_pf/team/JinAir/03.assets/booking/smallbuttom.png?raw=true);
}

.bt_1:hover {
    background: #192547;
}



/* /////section///// */