@charset "utf-8";

/* 
    그룹 선택자: ,
    전체 선택자: *
    *는 모든 요소를 가리킨다.

*/
body * {outline: 1px solid lime;}

body {
    margin: 0;
}
nav {
    height: 100px;
}
header {    
    height: 200px;
    background: url(/assets/bg-light.png);
}
section {
    width: 940px;
    margin: 0 auto;
    line-height: 92px;
}
.home-card {
    display: flex;
}
.home-ico {
    width: 100px;
    height: 100px;
}
.home-description {
    width: 790px;
    height: 140px;
}
nav {
    background: #d0ff00;
}
h1 { 
    background: #0004ff;
}