@charset "utf-8";

@font-face {
    font-family: "Noto Sans KR";
    src: url("https://12alsrud12.github.io/web0422/assets/font/NotoSansKR-Bold.ttf");
}

@font-face {
    font-family: 'G마켓산스';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '에스코어드림';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* text */
html {
    font-size: 10px;
}

body {
    font: 10px/2 Arial, Helvetica, sans-serif;
}

main {
    overflow: hidden;
}

h1,
h2,
h3,
nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h1 {
    line-height: 150px;
    color: #edfaff;
    margin: 0;
    font-size: 5vw;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin: 0;
}

a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 3vw;
}

h3 {
    font-size: 4vw;
    font-family: "G마켓산스", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

h3 span {
    font-size: 1.7vw;
    font-style: italic;
}

p {
    font-size: 3vw;
    font-family: "에스코어드림", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: justify;
    word-break: normal;
}

/* reset */
* {
    box-sizing: border-box;
}

body,
ul,
h1,
h2 {
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    text-decoration: underline;
    color: #727272;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
}

h2 {
    margin: 56px 0 32px;
}

/* layout  */
/* 박스모델 속성, display, position */

nav section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

section>ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
}


section li:nth-of-type(1)::after {
    display: inline-block;
    content: "●";
    width: 6px;
    height: 6px;
    margin: 0 12px 4px;
    color: #999;
}

section li:nth-of-type(2) {
    margin-left: 10px;
}


header {
    height: 150px;
    background: url("../../assets/my/moon-10225.gif") no-repeat 50% 120%/cover fixed;
    line-height: 150px;
}

section div {
    margin-bottom: 56px 0;
}

/* 공통 */
section:not(header>section) {
    padding: 0 24px;
}

.home-card {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 25px;
    margin-bottom: 40px;
}

.home-icon {
    grid-row: 1/span 3;
    height: 100px;
    overflow: hidden;
}

.home-description h3 {
    margin: 0;
}

.home-description h3 span {
    margin: 0 0 0 1em;
}

p {
    margin: 20px 0;
}


/* footer */
footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #004a4e;
}

footer div a,
footer p {
    font-family: "온글잎 은별", sans-serif;
    color: #fff;
}

/* bg-color */
nav {
    color: rgb(68, 68, 68);
}

/* 
h3내의 span도 font-size가 22.5px지만 부모 요소인 h3에만 적용하면 자식인 span도 적용된다.*/


/* 아이콘 사이즈 100*100px */
.home-icon {
    transition: .3s;
    border-radius: 20px;
}

.home-icon:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* to the top ill */
.ill {
    position: fixed;
    right: 60px;
    bottom: -100px;
    transition: .5s;
}

footer:hover .ill {
    bottom: 88px;
}

@media (min-width: 760px) {

    /* typo */
    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3vw;
    }

    h3 span {
        font-size: 2vw;
    }

    p {
        font-size: 2vw;
    }

    a {
        font-size: 1.7vw;
    }

    section {
        padding: 0 56px;
    }

    section>ul {
        margin-right: 24px;
    }
}

@media (min-width: 992px) {

    /* typo */
    h1 {
        font-size: 5rem;
        text-align: left;
        line-height: 200px;
    }

    h2 {
        font-size: 3rem;
        margin: 56px 0;
    }

    .home-description h3 {
        font-size: 1.2vw;
    }

    .home-description h3 span {
        font-size: 0.9vw;
    }

    p {
        font-size: 0.8vw;
    }

    a {
        font-size: 0.7vw;
    }

    /* 공통 */
    header {
        height: 200px;
    }

    section {
        width: 960px;
        margin: 0 auto;
    }

    section>ul {
        margin-right: 100px;
    }

    .home-card {
        margin: 0 auto;
        column-gap: 50px;
        padding: 20px 0;
    }
}